{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="headline mt-4">Delete Post</h1>
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card mb-4 border-0 shadow p-3 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title">Confirm Deletion</h2>
                    <p class="card-text">Are you sure you want to delete the post titled "{{ post.title }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'view_post' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
